body{
  font-size: 25px;
}
div{
	width: 40%;
	height: 100px;
	border: 1px solid black;
	margin: 25px;
	background-color: green;
}

.one{
  position: relative;
	margin: auto;

}

.two{
	display: inline-block;
}

.three{
	display: inline-block;
}

.four{
	position: relative;

}
.minibox{
	position: relative;
	background-color: yellow;
	height: 15px;
	width: 15px;
	bottom: 45px;
	right: -975px;
  z-index: 500;
}
